.logo{
    width: 170px;
    height: 114px;
    margin-top: 10px;
    margin-left: 200px;
    display: center;
    text-align: center;
    justify-content: center;

}
img{
    width: 170px;
    height: 100px;
    margin-bottom: 25px;
}